@import common

#root
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  background-color: #222
  overflow: hidden scroll

  > header, > footer
    height: 4em
    background-color: gray